<%= turbo_frame_tag "favorite-concerts" do %>
  <section class="my-4"
           data-controller="favorite-toggle"
           data-favorite-toggle-visible-value="true"
           data-favorite-toggle-hidden-class="hidden">
    <div class="text-3xl font-bold">
      Favorite Concerts
      <span class="<%= SimpleForm.button_class %> py-1 text-xl font-semibold"
            data-action="click->favorite-toggle#toggle"
            data-favorite-toggle-target="elementWithText">
        Hide
      </span>
    </div>
    <div data-favorite-toggle-target="elementToHide">
      <% if current_user.favorites.empty? %>
        <div class="text-xl font-bold">No favorite concerts yet</div>
      <% else %>
        <% current_user.concerts.each do |concert| %>
          <%= render "concerts/schedule_concert",
            concert: concert,
            favorite: true
          %>
      <% end %>
    </div>
  <% end %>
  </section>
<% end %>
