<%= turbo_frame_tag "favorite-concerts" do %>
  <section class="my-4"
           id="favorite-section"
           data-controller="css"
           data-css-status-value="true"
           data-css-css-class="shrink">
    <div class="text-3xl font-bold">
      Favorite Concerts
      <span class="<%= SimpleForm.button_class %> blue-hover"
            data-controller="css-flip"
            data-action="click->css#toggle click->css-flip#toggle"
            data-css-flip-status-value="true"
            data-css-flip-off-class="is-closed"
            data-css-flip-on-class="is-open">
        <%= image_pack_tag(
          "media/images/chevron-right.svg",
          width: 25,
          height: 25,
          class: "inline arrow-transition",
          "data-css-flip-target": "elementToChange") %>
      </span>
    </div>
    <div class="resizer" data-css-target="elementToChange">
      <% if current_user.favorites.empty? %>
        <div class="text-xl font-bold">No favorite concerts yet</div>
      <% else %>
        <% current_user.concerts.each do |concert| %>
          <%= render "concerts/schedule_concert",
            concert: concert,
            favorite: true
          %>
      <% end %>
    </div>
  <% end %>
  </section>
<% end %>
